/* #380c5d */
/* ------------------Nav bar ------------------*/
body::-webkit-scrollbar {
  display:none;
  scroll-behavior: smooth;
}

html {
    height: 100%;
    width: 100vw;
    scroll-behavior: smooth;

  }
  
  body {
    min-width: 100vw;
    background-color: #748B75;
    color: #f5fbef;
    padding: 0;
    margin: 0;
  }
  
  nav {
    position:relative;
    width: 100vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background-color:#f5fbef;
    padding: 2px;
    z-index: 2;
  }
  
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  nav ul  {
    width: 100%;
    list-style: none;
    justify-content:right;
    display: flex;
  }
  
  
  nav li {
    display: inline-block;
    height: 48px;
  }
  nav li:nth-child(2){
    margin-right: auto;
  }
  
  
  nav a {
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #748B75;
  }
  
  nav a:hover {
    color: #5D6E5E;
    text-decoration: none;
    transition: .3s easy;
  }


  
 /* ------------------Home Css ------------------*/

#home{
  background-color: #748B75;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  min-height: 100vh;

}
.home{
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.home-cont{
  margin-top:3%;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100vw;
  
}

.robot{
  background-color: #e1ecde;
  border-radius:100%;
  display: block;
  max-width: 100%;
  height: auto;
}

.column5 {
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
  flex-basis: 100%;
  display: flex;
}
.card ,.card1 {
  width: 100%;
  padding: 10px;
}

.card1{
  margin-left:3%;
  display: flex;
  justify-content: left; 
  align-items: center;    
  height: 100%;            
}
.card{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s infinite;
  color: #f5fbef; 
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typing {
  position:relative;
  top:6px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(6, end), forward infinite;

}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 6ch; 
  }
}

.downloadbtn{
  border-radius: 2px;
  background-color: #5D6E5E;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  color: #f5fbef;
  padding: 8px;
  text-decoration: none;
}
.downloadbtn:hover{
  background-color: #f5fbef;
  color: #5D6E5E;
  transition-duration: 1s;
}
.harrow{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.harrowOut {
    position:absolute;
    bottom:5px;
    left: 50vw;
    transform: translateX(-50%);
    width: 35px;
    height: 25px;
    padding: 5px;
    border-radius: 20px;
    align-items: center;
    background-color: #f5fbef;
    color:#748B75;
  }

.harrowIn {
    bottom: inherit;
    left: inherit;
    height: 25px;
    width: 35px;
    border-radius: 20px;
    align-items: center;
    background-color: #748B75;
    color:#f5fbef; 
}

.harrow2{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top:-11px;
  

}

/* ------------------about Css ------------------*/

#aboutme{
  background-color: #5D6E5E;
  min-height: 100vh;
  height: 100%;
  scroll-snap-align: start;
  justify-content: center;
  width: 100vw;
 
}

.about-text{
  margin-top:3%;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100vw;
  
  
}

.container-pic{
  background-color: #e1ecde;
  border-radius:100%;
  display: block;
  max-width: 100%;
  height: auto;
}

.column6 {
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
  flex-basis: 100%;
  display: flex;
}
.card2 ,.card3 {
  width: 100%;
  padding: 10px;
}

.card3{
  margin-left:3%;
  display: flex;
  justify-content: left; 
  align-items: center;    
  height: 100%;            
}
.card2{
  display: flex;
  align-items: center;
  justify-content: center;
}


.arrow{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.arrowOut {
    position:absolute;
    left: 50vw;
    transform: translateX(-50%);
    width: 30px;
    height: 45px;
    padding: 5px;
    border-radius: 20px;
    align-items: center;
    background-color: #f5fbef;
    color:#748B75;
  }

.arrowIn {
    bottom: inherit;
    left: inherit;
    height: 45px;
    width: 30px;
    border-radius: 20px;
    align-items: center;
    background-color: #748B75;
    color:#f5fbef; 
}

.arrow1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom:15px;

}
.arrow2{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top:15px;

}



/* ------------------My Skills Css ------------------*/
#myskills {
  background-color: #748B75;
  min-height: 100vh;
  height: 100vw;
  scroll-snap-align: start;
}



/* ------------------My Work Css ------------------*/
 #mywork{
  background-color: #5D6E5E;
  min-height: 100vh;
  height: 100%;
  scroll-snap-align: start;
 }

/* ------------------Careers Css ------------------*/
#careers{
  background-color: #748B75;
  min-height: 100vh;
  height: 100%;
  scroll-snap-align: start;
}

.robot-container{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100vw;
}

.robot1{
  display: block;
  max-width: 100%;
  height: auto;
}
