/* #380c5d */


/* ------------------Nav bar ------------------*/
body::-webkit-scrollbar {
  display:none;
  scroll-behavior: smooth;
}

html {
    height: 100%;
    width: 100%;
    max-width: 100%;
    scroll-behavior: smooth;

  }
  
  body {
    width: 100%;
    max-width: 100%;
    background-color: #748B75;
    padding: 0;
    margin: 0;
  }
  
  nav {
    position:relative;
    width: 100vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background-color:#f5fbef;
    padding: 2px;
    z-index: 2;
  }
  
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  nav ul  {
    width: 100%;
    list-style: none;
    justify-content:right;
    display: flex;
  }
  
  
  nav li {
    display: inline-block;
    height: 48px;
  }
  nav li:nth-child(2){
    margin-right: auto;
  }
  
  
  nav a {
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #748B75;
  }
  
  nav a:hover {
    color: #5D6E5E;
    text-decoration: none;
    transition: .3s easy;
  }


  
 /* ------------------Home Css ------------------*/

#home{
  background-color: #748B75;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  color: #f5fbef

}
.home{
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  
}

.home-cont{
  margin-top:3%;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100vw;
  
}

.robot{
  background-color: #e1ecde;
  border-radius:100%;
  display: block;
  max-width: 100%;
  height: auto;
}

.column5 {
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
  flex-basis: 100%;
  display: flex;
}
.card-h ,.card1 {
  width: 100%;
  padding: 10px;
}

.card1{
  margin-left:3%;
  display: flex;
  justify-content: left; 
  align-items: center;    
  height: 100%;            
}
.card-h{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s infinite;
  color: #f5fbef; 
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typing {
  position:relative;
  top:6px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(6, end), forward infinite;

}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 6ch; 
  }
}

.downloadbtn{
  border-radius: 2px;
  background-color: #5D6E5E;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  color: #f5fbef;
  padding: 8px;
  text-decoration: none;
}
.downloadbtn:hover{
  background-color: #f5fbef;
  color: #5D6E5E;
  transition-duration: 1s;
}
.harrow{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.harrowOut {
  position:absolute;
  bottom:5px;
  left: 50vw;
  transform: translateX(-50%);
  width: 35px;
  height: 25px;
  padding: 5px;
  border-radius: 20px;
  align-items: center;
  background-color: #f5fbef;
  color:#748B75;
  }

.harrowIn {
  bottom: inherit;
  left: inherit;
  height: 25px;
  width: 35px;
  border-radius: 20px;
  align-items: center;
  background-color: #748B75;
  color:#f5fbef; 
}

.harrow2{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top:-11px;
  
}



/* ------------------about Css ------------------*/

#aboutme{
  background-color: #5D6E5E;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  color: rgb(245, 251, 239)
}

.about-text{
  margin-top:3%;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100vw;
}

.container-pic{
  background-color: #e1ecde;
  border-radius:100%;
  display: block;
  max-width: 100%;
  height: auto;
}

.column6 {
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
  flex-basis: 100%;
  display: flex;
}
.card2 ,.card3 {
  width: 100%;
  padding: 10px;
}

.card3{
  margin-left:3%;
  display: flex;
  justify-content: left; 
  align-items: center;    
  height: 100%;            
}
.experience-title{
  background-color: #5D6E5E;
  margin-left:20px;
  margin-right:20px;
  padding:1px;
  border-radius:10px;
}


.experience{
  background-color:#859985;
  margin:10px;
  border-radius: 10px;
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 4px;
  height: 90%;
  background: #f5fbef;
  transform: translateX(-50%);
}

.timeline-item {
  padding: 20px 40px;
  position: relative;
  width: 50%;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.timeline-item:nth-child(odd) {
  left: 0;
}

.timeline-item:nth-child(even) {
  left: 50%;
}

.timeline-content {
  background: #5D6E5E;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-right: 80px;
  
}

.timeline-item:nth-child(odd)::after {
  left: 83%;
  margin-left: -7px;
}

.timeline-item:nth-child(even)::after {
  right: 83%;
  margin-right: -7px;
}


.timeline-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.random-text{
  margin-top:3%;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100vw;
}



/* ------------------My Skills Css ------------------*/
#myskills {
  background-color: #748B75;
  min-height: 100vh;
  height: 100%;
  width:100%;
  scroll-snap-align: start;
  color: #f5fbef
}

.skills-background{
  padding:20px;
  background-color: #5D6E5E;
  border-radius:10px;

}

.skills{
  margin: 1rem;
}
.skillsmain{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}
.skillbar{
  margin-bottom: 2.3rem;
}

.skillsmain h3{
  margin-bottom: 2rem;
  text-align: center;
}

.leftskills .skillbar .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.leftskills .skillbar .bar{
  width: 100%;
  height: 15px;
  background-color: #748B75 ;
  border-radius: 25px;
  margin-top: 10px;
  position:relative;
}

.skillbar .bar span {
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #f5fbef;
  border-radius: 25px;
  width: 0%; 
}


@keyframes python {
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }

}

@keyframes javascript {
  0%{
    width: 0%;
  }
  100%{
    width: 2%;
  }

}

@keyframes html {
  0%{
    width: 0%;
  }
  100%{
    width: 27%;
  }

}

@keyframes css{
  0%{
    width: 0%;
  }
  100%{
    width: 27%;
  }

}



/* ------------------My Work Css ------------------*/
 #mywork{
  background-color: #5D6E5E;
  min-height: 100vh;
  height: 100%;
  scroll-snap-align: start;
  color: #f5fbef
 }

/* ------------------Careers Css ------------------*/
#careers{
  background-color: #748B75;
  min-height: 100vh;
  height: 100%;
  scroll-snap-align: start;
  color: #f5fbef
}

.robot-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.robot1{
  display: block;
  max-width: 100%;
  height: auto;
}


.carrowOut {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 35px;
  height: 25px;
  padding: 5px;
  border-radius: 20px;
  background-color: #f5fbef;
  color: #748B75;
}

.carrowIn {
  height: 25px;
  width: 35px;
  border-radius: 20px;
  background-color: #748B75;
}

.carrow2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top:-11px;
}